
/* Custom Properties */

:root {
  --color:          hsl(0,0%,22%);
  --color-subtle:   hsl(0,0%,44%);
  --color-strong:   rgb(4, 56, 161);
  --color-link:     hsl(0,0%,22%);

  --color-border:   hsl(0,0%,88%);
  --color-bg:       hsl(0,0%,96%);

  --color-accent:   black; /* Fallback */
}


/* Category Colors */

.u-category-windows { 
  --color-accent: hsl(116, 30%, 36%);
}
.u-category-menu {
  --color-accent: hsl(194, 60%, 36%);
}
.u-category-native-ui {
  --color-accent: rgb(4, 56, 161);
}
.u-category-communication {
  --color-accent: hsl(285, 47%, 46%);
}
.u-category-system {
  --color-accent: hsl(330, 65%, 48%);
}
.u-category-media {
  --color-accent: hsl( 36, 77%, 34%);
}
.u-category-databases {
  --color-accent: rgb(4, 56, 161);
}
